body {
	font-size: 18px;
	font-family: Helvetica, sans-serif;
}

fieldset {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	border: none;
}

dt {
	margin: 0 0 5px 0;
}

dd {
	margin: 0 0 15px 0;
}

form {
	text-align: justify;
}

ul {
	padding-left: 0;
	list-style: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
	width: 100%;
	height: 30px;
	padding: 3px 10px;
	font: normal 14px Helevetica, Arial, sans-serif;
	box-sizing: border-box;
}

textarea {
	height: auto;
}